.mainContent {
    overflow: hidden;
}

.mainParent {
    display: flex;
    flex-direction: row;
}

.blogLeft {
    width: 30%;
    position: relative;
}

.blogRight  {
    width: 70%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.blogRightImageBack {
    background-color: $brightBlue;
    position: absolute;
    top: -150px;
    right: 71px;
    height: 29%;
    width: 94%;
}

.blogRightImageBack img {
    position: absolute;
    right: -71px;
    top: -31px;
    width: 104%;
    min-width: 60%;
    height: auto;
}

.blogLeft img {
    position: absolute;
    z-index: 1;
    padding-top: 12%;
    max-width: 100%;
    min-width: 60%;
    height: auto;
}

.leftTextBox {
    background: $boxBlue;
    position: absolute;
    top: 8%;
    z-index: 0;
    width: 67%;
    padding-left: 20px;
    padding-top: 50%;
    margin-left: 17%;
    padding-bottom: 10px;
}

.leftTextBoxTop p {
    line-height: 10px;
}

.leftTextBoxBottom ul {
    list-style: none;
    font-family: $bodyFont;
    color: $textWhite;
    line-height: 25px;
}

//w3schools.com recommended this fix for bullet coloration

.leftTextBoxBottom ul li::before {
    content: "\2022";
    color: $brightBlue;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.blogText {
    border-bottom: 5px solid $brightBlue;
    border-left: 5px solid $brightBlue;
    padding-top: 48%;
    padding-left: 8%;
    margin-left: 9px;
}

.mainText {
    padding-bottom: 50px;
    padding-right: 10%;
}

.commentBox1 img,
.commentBox2 img {
    float: left;
}

.text {
    width: 70%;
    padding-left: 10%;
}

.commentBox1 {
    padding-bottom: 3%;
}

.commentsBlog {
    padding-left: 9%;
}

.topline {
    font-style: italic;
}

.contactFormBlog {
    padding-top: 0;
}

#messageBlog {
    background: $backBlue;
}

#nameBlog {
    background: $backBlue;
    float: left;
    width: 46%;
    height: 45px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 2px solid $brightBlue;
    color: $textWhite;
    padding-left: 20px;
}

#emailBlog {
    background: $backBlue;
    width: 46%;
    height: 45px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: solid 2px $brightBlue;
    color: $textWhite;
    margin-left: 8%;
    padding-left: 20px;  
}

#messageBlog {
    width: 100%;
    background: $backBlue;
    font-family: $bodyFont;
    line-height: 28px;
    border: 2px solid $brightBlue;
    color: $textWhite;
    padding-left: 30px;
    padding-top: 10px;
}

fieldset {
    border: 0;
}

@media (max-width: 1750px) {

.blogHeader {
    background-position: top;
    background-size: auto;
}

.blogRightImageBack {
    height: 23%;
}

.blogRight {
    width: 65%;
}

.blogLeft {
    width: 35%;
}

.blogText {
    margin-left: -3px;
}

.text {
    width: 80%;
    padding-left: 15%;
}


}

@media (max-width: 1400px) {

.blogText {
    margin-left: -16px;
    padding-top: 26%;
}

.blogRightImageBack {
    height: 19%;
    top: -250px;
}

.blogRight {
    width: 60%;
}

.blogLeft {
    width: 40%;
    margin-top: -10%;
}

.blogLeft img {
    padding-top: 0;
}

.leftTextBox {
    padding-top: 25%;
    top: 9%;
}

.blogText {
    margin-left: -21px;
}

.blogRightImageBack img {
    width: 107%;
}

.text {
    width: 90%;
    padding-left: 20%;
}

}

@media (max-width: 1220px) {

.blogRightImageBack img {
    width: 106%;
}

.blogRightImageBack {
    height: 15%;
    top: -285px;
    width: 91%;
}

.blogText {
    margin-left: -5px;
}

.blogLeft {
    margin-top: -18%;
}

.commentsBlog h2 {
    font-size: 100px;
    }

}

@media (max-width: 1170px) {
.leftTextBox p {
    font-size: 16px;
}

.leftTextBox h3 {
    font-size: 40px;
}

.leftTextBoxBottom ul {
    padding-left: 15px;
}
}

@media (max-width: 1130px) {

.blogRightImageBack {
    height: 14%;
    width: 85%;
}

.blogRightImageBack img {
    width: 110%;
}

.blogText {
    padding-top: 5%;
}

}

@media (max-width: 1000px) {

.mainParent {
    display: flex;
    flex-direction: column;
}

.blogRight {
    width: 100%;
    margin-top: 149%;
}
    
.blogLeft img {
    margin-top: -30px;
    padding-left: 18%;
}

.leftTextBox {
    width: 90%;
}

.blogLeft {
    margin-top: -36%;
    width: 100%;
}
  
.leftTextBox {
    margin-left: 5%;
}

.leftTextBox p {
    font-size: 20px;
    text-align: center;
}

.leftTextBox h3 {
    font-size: 45px;
    text-align: center;
}
   
.blogRightImageBack {
    height: 650px;
    width: 93%;
}

.blogText {
    padding-top: 40%;
}

.leftTextBoxTop {
    padding-top: 25%;
}
  
.leftTextBoxBottom p {
    font-size: 20px;
    text-align: center;
}

.leftTextBoxBottom li {
    text-align: center;
}

}

@media (max-width: 900px) {

.blogRight {
    margin-top: 165%;
}

.blogRightImageBack {
    height: 585px;
}
}

@media (max-width: 780px) {

.blogLeft {

margin-top: -46%;
}

.blogRightImageBack {
    
height: 503px;
}

.blogRight {

margin-top: 169%;
}

.blogText {
    padding-top: 22%;
}

}

@media (max-width: 750px) {

.blogRight {
    margin-top: 190%;
}

.leftTextBoxTop {
    padding-top: 35%;
}

.blogRightImageBack {
    height: 479px;
}

}

@media (max-width: 686px) {

.blogRight {
    margin-top: 205%;
}

.blogRightImageBack {
    height: 439px;
}

.blogLeft img {
    padding-left: 14%;
}
}

@media (max-width: 610px) {

.leftTextBoxTop {
    padding-top: 50%;
}

.leftTextBoxBottom {
    padding-bottom: 10%;
}

.leftTextBoxTop {
    padding-bottom: 0;
}

.leftTextBoxBottom ul {
    padding-bottom: 5%;
}

.blogRight {
    margin-top: 229%;
}

.blogRightImageBack {
    height: 386px;
}

.commentsBlog h2 {
    font-size: 90px;
}

.blogText h2 {
    font-size: 65px;
}

}

@media (max-width: 567px) {

.blogRight {
    margin-top: 255%;
}

.blogRightImageBack {
    height: 355px;
}

#nameBlog {
    float: none;
    width: 100%;
}

#emailBlog {
    margin-left: 0;
    float: none;
    width: 100%;
}

}

@media (max-width: 485px) {

.blogRight {
    margin-top: 280%;
}

.blogRightImageBack {
    height: 300px;
}

.blogText h2 {
    font-size: 55px;
}

.commentsBlog h2 {
    font-size: 60px;
}

.commentBox1 img,
.commentBox2 img {
    float: none;
}

.text {
    width: 100%;
    padding-right: 10%;
    padding-left: 0;
}

}

@media (max-width: 430px) {

.blogRight {
    margin-top: 303%;
}

.blogRightImageBack {
    height: 267px;
}

.leftTextBox h3 {
    font-size: 40px;
}

.leftTextBox p {
    font-size: 16px;
}

.blogText h2 {
    font-size: 40px;
}

.mainText p {
    font-size: 16px;
}

.blogText {
    padding-top: 0%;
}


}

@media (max-width: 370px) {

.blogRight {
    margin-top: 328%;
}

.blogRightImageBack {
    height: 229px;
}

}