.mainHeaderText {
    padding-top: 15%;
}

.indexHeader img {
    margin-top: 10%;
    float: right;
}

.indexLinks {
    display: flex;
    flex-direction: row;
}

.indexLinks a {
    text-decoration: none;
    color: $textWhite;
}

.indexLinks a:hover,
.indexLinks a:focus {
    color: $brightBlue;
}

.indexLinksLeft,
.indexLinksRight {
    width: 46%;
}

.indexLinksLeft h3,
.indexLinksRight h3 {
    margin-left: 70px;
    margin-top: -25px;
    margin-bottom: -25px;
    padding-bottom: 25px;
}

.indexLinksLeft p,
.indexLinksRight p {
    padding-left: 70px;
    padding-bottom: 45px;
    margin-top: -25px;
    width: 95%;
} 

.fa-file {
    padding-top: 10px;
} 

.layerTwo {
    background-color: $boxBlue;
    display: flex;
    flex-direction: column;
}

.layerTwoTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.layerTwoImageBack1 {
    background-color: $brightBlue;
    position: relative;
    width: 43%;
    margin-left: 1%;
    height: 510px;
}

.layerTwoImageBack1 img {
    width: 100%;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.layerTwoImageBack2 {
    background-color: $brightBlue;
    position: relative;
    width: 45%;
    margin-right: 1%;
    height: 510px;
    top: 30px;
}

.layerTwoImageBack2 img {
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.textAlign1 {
    width: 45%;
}

.textAlign2 {
    width: 43%;
    text-align: right;
}

.layerTwoBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.textAlign1 button,
.textAlign2 button,
.layerThree button,
.events button {
    border: 2px solid $brightBlue;
    padding: 0;
    margin: 0;
}

.textAlign1 a,
.textAlign2 a,
.layerThree a,
.events a {
    text-decoration: none;
    display: block;  
}

.textAlign1 a:hover,
.textAlign1 a:focus,
.textAlign2 a:hover,
.textAlign2 a:focus,
.layerThree a:hover,
.layerThree a:focus,
.events a:hover,
.events a:focus {
    color: $brightBlue;
    background-color: $boxBlue;
}

.layerThree {
    background-color: $backBlue;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.layerThree h3 {
    padding-top: 10%;
}

.layerThree button {
    margin-bottom: 10%;
    margin-top: 5%;
}

.layerFour,
.layerFour img  {
    width: 100%;
}

.layerFive {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: row;
}

.eventsLeft {
    width: 29%;
    display: flex;
    justify-content: right;
    position: relative;
}

.eventsLeft img {
    position: absolute;
    left: 15px;
    bottom: 15px;
    height: 100%;
    width: auto;
}

.events {
    width: 60%;
    padding-left: 5%;
}

.events p {
    width: 90%;
}

.eventsLeftBack {
    background-color: $brightBlue;
    position: relative;
    width: 63%;
    margin-left: 1%;
    height: 360px;
}

.layerSix {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $boxBlue;
    padding-top: 5%;
    padding-bottom: 5%;
}

.layerSix img {
    padding-left: 1%;
    padding-right: 1%;
}

@media (max-width: 1670px) {

    .indexHeader {
        background-size: auto;
        background-position: top;
    }

    .events {
        padding-left: 15%;
    }
}

@media (max-width:1550px) {

    .indexLinks {
        margin-top: 10%;
    }

    .layerTwoImageBack1 {
        height: 392px;
    }

    .layerTwoImageBack2 {
        height: 425px;
    }


}

@media (max-width: 1260px) {

.mainHeaderText {
    padding-top: 0;
    margin-top: -75%;
}

.indexHeader img {
    padding-top: 20%;
    float: none;
    padding-left: 20%;
}

.indexLinks {
    padding-top: 20%;
}

.layerTwoImageBack1 {
    height: 334px;
}

.layerTwoImageBack2 {
    height: 364px;
}

}

@media (max-width: 1150px) {

.mainHeaderText {
    margin-top: -85%;
}

.layerTwoImageBack1 {
    height: 294px;
}

.layerTwoImageBack2 {
    height: height  329px;
}

.events {
    padding-left: 24%;
    width: 70%;
}

}

@media (max-width: 1000px) {

.mainHeaderText {
    margin-top: -95%;
}

.indexHeader img {
    padding-left: 12%;
}

.layerTwoImageBack1 {
    height: 267px;
}

.layerTwoImageBack2 {
    height: 286px;
}

.layerFive {
    flex-direction: column;
}

.eventsLeft {
    width: 100%;
    justify-content: center;
}

.eventsLeftBack {
    width: 48%;
    margin-left: 0%;
    height: 465px;
}

.eventsLeft img {

height: 106%;
width: auto;
}

.events {
    width: 100%;
    text-align: center;
    padding-left: 6%;
}
}

@media (max-width: 900px) {

.indexLinks {

display: flex;
flex-direction: column;
}

.indexLinksLeft,
.indexLinksRight {

    width: 100%;
}

.layerTwoImageBack1 {
    height: 228px;
}

.layerTwoImageBack2 {
    height: 257px;
}

.textAlign1 {
    padding-bottom: 10%;
}

.textAlign2 {
    margin-top: -10%;
}

.eventsLeftBack {
    margin-top: 10%;
}

.layerSix {
    flex-direction: column;
    align-items: center;
}

.layerSix img {
    height: auto;
    width: 75%;
    padding-bottom: 5%;
}

.mainHeaderText {
    margin-top: -105%;
}

}

@media (max-width: 800px) {

.mainHeaderText {
    margin-top: -113%;
}

.layerTwoImageBack1 {
    height: 425px;
    width: 87%;
}

.layerTwoImageBack2 {
    height: 415px;
    width: 86%;
}

.textAlign2 {
    margin-bottom: 17%;
    width: 100%;
    text-align: center;
}

.layerTwoTop {
    flex-direction: column;
}

.textAlign1 {
    width: 100%;
    text-align: center;
}

.layerTwoBottom {
    flex-direction: column;
}

.layerTwo {
    margin-top: 11%;
}

.layerTwoImageBack1 img {
    width: 99%;
}

.layerTwoImageBack2 img {
    width: 106%;
}

.eventsLeftBack {
    width: 61%;
}

.events {
    padding-left: 0;
}

.events p {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5%;
}

.mainHeaderText {
    font-size: 100px;
}

}

@media (max-width: 700px) {

.mainHeaderText {
        margin-top: -126%;
    }

.layerTwoImageBack1 {
    height: 342px;
}

.layerTwoImageBack2 {
    height: 348px;
}

.eventsLeftBack {
    width: 75%;
}

.eventsLeft {
    width: 93%;
}

}

@media (max-width: 620px) {

.mainHeaderText {
    font-size: 80px;
    margin-top: -138%;
}

.layerFour,
.layerFour img {
    width: auto;
}

}

@media (max-width: 550px) {

.indexHeader img {
    padding-left: 0%;
    width: 80%;
    padding-top: 57%;
}

.mainHeaderText {
    margin-top: -109%;
}

.layerTwo {
    width: 90%;
    margin: 0 auto;
}

.indexLinks {
    padding-top: 5%;
}

.layerTwoImageBack1 {
    height: 249px;
}

.layerTwoImageBack2 {
    height: 262px;
}

.layerThree {
    width: 90%;
    margin: 0 auto;
}

}

@media (max-width: 500px) {

.indexHeader img {
    padding-top: 75%;
}

.mainHeaderText {
    margin-top: -128%;
}

.eventsLeft img {
    height: 103%;
}

.eventsLeftBack {
    height: 335px;
    width: 71%;
}

}

@media (max-width: 450px) {

.indexHeader img {
      padding-top: 91%;
    }

.mainHeaderText {
    margin-top: -133%;
}

.eventsLeftBack {
    height: 290px;
}
    
.layerTwoImageBack1 {
    height: 205px;
}

.layerTwoImageBack2 {
    height: 216px;
}  
  
}

@media (max-width: 380px) {

.mainHeaderText {
    margin-top: -151%;
}

.indexHeader img {
    padding-top: 79%;
}

.layerTwoImageBack1 {
    height: 175px;
}

.layerTwoImageBack2 {
    height: 175px;
}

.eventsLeftBack {
    height: 250px;
}
  
.layerThree h3 {
    font-size: 35px;
}
  

}